body {
  max-width: 100%;
  display: block;
  margin: 0;
  font-family: "Inter", serif;
  background-color: #f3f3f3;
}

.banner-for-Homepage-only {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)),
    url("/images/homepage-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
  padding: 200px 0px;
  margin-bottom: 30px;
  border: 1px solid #000000;
}

nav {
  background-color: transparent;
  margin: -190px 30px 0 30px;
  text-align: start;
}

.first-three-navbar-list {
  background: #7392b4;
  border: 2px solid #000000;
  border-radius: 32px;
  font-family: "Nunito";
  font-weight: 600;
  padding: 4px 30px;
}

.first-three-navbar-list a:hover {
  color: #386391;
}

.active a {
  color: #386391;
}

.navbar-collapse {
  padding-left: 800px;
}

.navbar-collapse li {
  list-style-type: none;
}

.last-navbar-list {
  background: #2862a1;
  border: 2px solid #000000;
  border-radius: 32px;
  padding: 10px 30px;
  margin: 5px 0 0 30px;
  font-weight: 600;
  color: #ffffff;
}

.last-navbar-list:hover {
  background: linear-gradient(
    135deg,
    rgb(82, 229, 231) 10%,
    rgb(19, 12, 183) 100%
  );
  transition: all 200ms ease-in-out;
}

.navbar-toggler {
  border: 3px solid black;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

.page-desc p {
  text-align: justify;
  line-height: 1.5;
  line-height: 40px;
  padding: 40px 65px;
}

.page-desc h1 {
  font-weight: 700;
  padding-top: 50px;
  text-align: center;
}

.page-desc h1 .h1-scnd-part {
  font-weight: 200;
}

.get-started-btn {
  text-align: center;
  margin-bottom: 60px;
}

.get-started-btn i {
  margin-left: 5px;
  font-size: 15px;
}

.get-started {
  background: #2862a1;
  border: 2px solid #000000;
  border-radius: 32px;
  padding: 10px 20px;
  margin: 5px 0 0 30px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.get-started:hover {
  background: #7392b4;
  color: black;
}

.homepage-2-columns-grid {
  grid-template-columns: 2fr 2fr;
  background-color: #d9d9d9;
  padding: 70px 20px 50px 20px;
  text-align: center;
}

.homepage-2-columns-grid h3 {
  font-weight: 600;
  letter-spacing: 0.18em;
}

.homepage-2-columns-grid p {
  line-height: 30px;
  font-weight: 300;
  padding: 25px 60px;
}

.services-homepage {
  background: #ffffff;
  padding: 25px 80px;
}

.services-homepage h2 {
  text-align: center;
  margin-top: 60px;
}

.services-homepage p {
  text-align: center;
  line-height: 30px;
  padding: 40px 65px;
  color: #272142;
}

.main-page-4-columns {
  padding: 20px 80px 10px 100px;
}

.main-page-4-columns h3 {
  color: #ffffff;
  font-weight: bold;
}

.main-page-4-columns-arrow {
  margin-left: 10px;
}

.main-page-4-columns p {
  font-weight: 200;
  line-height: 29px;
  color: #000000;
  padding: 40px 20px 15px 0;
}

.main-page-4-columns .card {
  padding: 30px 0 10px;
  background: #7392b4;
  border-radius: 20px;
  margin-bottom: 40px;
  margin-right: 30px;
}

.previous-work-slides {
  padding: 60px 100px 40px 30px;
}

.previous-work-slides .carousel-inner {
  padding: 40px;
  margin: 30px 0 30px 30px;
  background: #ffffff;
  opacity: 0.8;
}

.previous-work-slides .carousel {
  padding-left: 90px;
  padding-right: 150px;
}

.previous-work-slides .carousel-inner p {
  text-align: left;
  line-height: 1.5;
}

.lower-banner {
  text-align: right;
  background: linear-gradient(
    107deg,
    rgba(30, 97, 170, 0.785) 27.4%,
    rgb(5, 161, 161) 92.7%
  );
  padding: 35px 30px 70px;
  margin: 50px 0 40px;
}

.lower-banner h2 {
  font-weight: 600;
  line-height: 1.6;
  font-size: 36px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 40px;
}

.lower-banner a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 30px;
  color: #386391;
  border: 1px solid #386391;
  font-weight: 500;
}

.FAQ-video {
  background-color: white;
  padding: 60px 0;
}

.FAQ-video video {
  background-color: #3c9ac4;
  padding: 40px 20px;
}

.FAQ-video h2 {
  font-size: 48px;
  text-align: left;
  margin-top: 50%;
  margin-left: 30px;
  font-weight: 600;
}

footer {
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/footer-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 40px 60px 10px;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.footer-3-columns-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.logo-info {
  padding-left: 35px;
}

footer .logo-info h3 {
  font-size: 18px;
}

.footer-logo {
  margin-left: 18px;
}

footer h4 {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 100;
  font-size: 16px;
  line-height: 22px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  font-weight: 100;
  padding-bottom: 15px;
  margin: 0;
}

footer li a {
  color: white;
}

footer .contact p a {
  text-decoration: none;
  color: white;
}

footer .social-media-icon i {
  font-size: 25px;
  color: #1e9ca4;
  background-color: white;
  padding: 10px 12px;
  margin: 0 8px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer i:hover {
  color: white;
  background-color: #1e9ca4;
}

footer .contact {
  margin-bottom: 30px;
  text-align: center;
}

footer .newsletter {
  background-color: #757575;
  border-radius: 16px;
  padding: 20px 20px;
  margin-left: 2px;
  color: black;
}

footer .newsletter h3 {
  font-size: 16px;
  font-weight: 450;
}

footer .newsletter p {
  font-size: 14px;
  font-weight: 350;
  margin-bottom: 10px;
}

.newsletter-form input {
  background-color: #545454;
  border: 1px white solid;
  color: white;
  font-weight: 300;
}

.newsletter-form #email {
  padding: 0px 40px 0px 10px;
}

.newsletter-form #submit {
  padding: 0 20px 0 20px;
}

.about-service-contact-nav {
  width: 100%;
  padding: 100px 0px 5px;
  margin-bottom: 10px;
  border: 0px solid #000000;
  background: #d9d9d9;
  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
}

.about-service-contact-nav nav {
  margin: -90px 30px -190px 30px;
}

.About-services-connect-upper-banner {
  background: url(images/About-service-connect\ banner.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 40px 50px 20px;
  color: white;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 50px;
}

.About-services-connect-upper-banner h2 {
  font-size: 35px;
}

.aboutp-2-columns-grid {
  grid-template-columns: 2fr 2fr;
}

.aboutp-first-grid {
  padding: 50px 200px 0px 0;
  font-family: "Nunito";
  font-weight: 400;
}

.aboutp-first-img {
  padding-left: 150px;
  width: 90%;
}

.aboutp-first-grid h1 {
  font-size: 38px;
  text-align: center;
}

.aboutp-first-grid hr {
  opacity: 0.1;
  border: 1px solid black;
  width: 56%;
  margin: 20px auto;
}

.aboutp-first-grid p {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding-top: 10px;
}

.your-one-stop {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: black;

  padding: 20px 0;

  margin: 0 auto;
}

@media (max-width: 960px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .homepage-2-columns-grid {
    grid-template-columns: 1fr;
  }

  .homepage-2-columns-grid p {
    padding: 25px 0px;
  }

  .page-desc p {
    padding: 40px 15px;
  }

  .banner-for-Homepage-only {
    height: 580px;
  }

  .first-three-navbar-list {
    margin-top: 20px;
  }

  .last-navbar-list {
    margin-left: 0;
    margin-top: 20px;
  }

  .navbar-collapse {
    padding-left: 0px;
  }

  .logo-info {
    padding-left: 0px;
  }
  .services-homepage {
    padding: 25px 15px;
  }

  .main-page-4-columns .card {
    margin-right: 0px;
  }

  .main-page-4-columns {
    padding: 0px;
  }

  .services-homepage p {
    padding: 30px 0px;
    text-align: left;
    margin: 0;
  }

  .previous-work-slides {
    padding: 30px 0px;
    margin: 0;
  }

  .previous-work-slides h2 {
    margin-left: 15px;
  }

  .previous-work-slides .carousel {
    padding-left: 80px;
    padding-right: 80px;
  }

  .previous-work-slides .carousel-inner {
    padding: 30px 20px 130px;
    margin: 30px 0;
  }

  .previous-work-slides .carousel-inner .desc-small {
    margin-top: 40px;
  }

  .previous-work-slides .carousel-inner .desc-small h3 {
    margin-bottom: 20px;
  }

  .lower-banner h2 {
    font-size: 20px;
  }

  .lower-banner a {
    font-size: 14px;
  }

  .FAQ-video video {
    width: 260px;
    height: 500px;
    margin-left: 15px;
    text-align: left;
    padding: 0px 20px 48px;
  }

  .FAQ-video {
    text-align: left;
    padding: 60px 0 0;
  }

  .FAQ-video h2 {
    font-size: 22px;
    text-align: right;
    margin-top: -80%;
    padding-right: 25px;
  }

  footer .logo-info img {
    width: 40px;
    display: block;
    margin: auto;
  }

  footer .logo-info h3 {
    font-size: 13px;
    text-align: center;
  }

  footer .logo-info p {
    text-align: center;
  }

  footer p,
  li {
    font-size: 12px;
  }

  footer h4 {
    font-size: 13px;
  }

  footer .social-media-icon i {
    font-size: 18px;
  }

  footer .newsletter h3 {
    font-size: 12px;
  }

  footer .newsletter p {
    font-size: 11px;
  }

  .newsletter-form #email {
    padding: 0px 10px;
  }

  .newsletter-form #submit {
    padding: 0 5px;
  }

  .newsletter-form input {
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .FAQ-video video {
    width: 360px;
    height: 500px;
    margin-left: 15px;
    text-align: left;
    padding: 30px 20px 48px;
  }

  .FAQ-video h2 {
    font-size: 46px;
    text-align: right;
    margin-top: -50%;
    padding-right: 195px;
  }
}
